.icon {
  animation: bounce 2s infinite, color-change 8s infinite;
}

@keyframes color-change {
  0% {
    color: #b9ab10;
  }
  25% {
    color: #30c45a;
  }
  50% {
    color: #102c59;
  }
  75% {
    color: #412388;
  }
  100% {
    color: #b9ab10;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
